# FOLDERS
.idea/
.vscode/
node_modules/

server/bin/
server/work/
server/static/app/
server/static/libs/
server/recipes-vz/

doc/source/

docs/resources/
docs/themes/hugo-whisper-theme/exampleSite/

# FILES
*.log
.DS_Store
server/tools.json
server/clients.json
server/server.json
