# FOLDERS
.idea/
.vscode/
node_modules/
doc/source/
server/bin/
server/work/
server/static/app/
server/static/libs/
server/recipes-vz/

# FILES
*.log
.DS_Store
server/tools.json
server/clients.json
server/server.json
