[submodule "source/libs/ff-client"]
	path = source/libs/ff-client
	url = https://github.com/framelab/ff-client
[submodule "libs/ff-core"]
	path = libs/ff-core
	url = https://github.com/framelab/ff-core
[submodule "libs/ff-react"]
	path = libs/ff-react
	url = https://github.com/framelab/ff-react
[submodule "libs/ff-browser"]
	path = libs/ff-browser
	url = https://github.com/framelab/ff-browser
[submodule "docs/public"]
	path = docs/public
	url = https://github.com/smithsonian/dpo-cook
	branch = gh-pages
